<!DOCTYPE html>
<html lang="jp" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザ登録</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .sign_up {
            margin-top: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        }

        h3, button {
            margin-top: 20px;
            margin-left: 20px;
        }

        label {
            margin-top: 20px;
        }

        a  {
            margin-top: 60px;
            text-align: center;
        }

        p {
            margin-top: 20px;
            text-align: center;
        }

        body {
            background-color: #eee;
        }
    </style>
</head>
<body>
<div th:replace="~{common/read_icon :: svg}"></div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card sign_up">
            <h3>ユーザ登録</h3>
            <form method="post" action="#" th:action="@{/sign_up}" th:object="${form}">
                <div class="form-group">
                    <div class="col-md-10 offset-md-1">
                        <div th:replace="~{common/chk_or_err_msg :: chk_or_err_msg}"></div>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <label for="userName" class="form-label">名前</label>
                        <input type="text" class="form-control" th:field="*{userName}" id="userName">
                        <div th:if="${userNameError}" th:text="${userNameError}" class="text-danger mt-2"></div>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <label for="email" class="form-label">メールアドレス</label>
                        <input type="email" class="form-control" th:field="*{email}" id="email">
                        <div th:if="${emailError}" th:text="${emailError}" class="text-danger mt-2"></div>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <label for="password" class="form-label">パスワード</label>
                        <input type="password" class="form-control" th:field="*{password}" id="password">
                        <div th:if="${passwordError}" th:text="${passwordError}" class="text-danger mt-2"></div>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <label for="reEnter" class="form-label">パスワード再入力</label>
                        <input type="password" class="form-control" th:field="*{reEnter}" id="reEnter">
                        <div th:if="${reEnterError}" th:text="${reEnterError}" class="text-danger mt-2"></div>
                    </div>
                    <button type="submit" class="btn btn-primary col-md-4 offset-md-4">登録</button>
                </div>
            </form>
            <a href="/">ログイン</a>
        </div>
    </div>
</div>
</body>
</html>